git+git://github.com/kti/python-netfilterqueue
service-identity==16.0.0
Twisted==16.3.0
dnspython==1.14.0
pcapy==0.10.10
pyOpenSSL==16.0.0
decorator==4.0.10
ecdsa==0.13
mechanize==0.2.5
netaddr==0.7.18
praw==3.5.0
PyAudio==0.2.9
pyserial==3.1.1
pyttsx==1.1
requests==2.10.0
scapy==2.3.2
six==1.10.0
SpeechRecognition==3.4.6
update-checker==0.11
cffi==1.7.0
cryptography==1.4
pycparser==2.14
pyasn1==0.1.9
paramiko==2.0.1
capstone==3.0.4
ropper==1.10.7
termcolor==1.1.0
psutil==4.3.0


